:root {
    /* Color Palette*/
    --white: white;
    --black: black;
    /*  */
    /* Other Variables */
    --default-shadow: 0 2px 5px black;
    /*  */
}
  
footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}